// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: rgb(211, 211, 211); overflow-x: hidden;}

html { height: 100%; }

body {
  color: black;
  font-family: monospace;
  font-size: 16.7px;
  line-height: 1.38;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: rgb(0, 0, 0); }

.w {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

/* 인라인 코드 스타일 */
code {
  color: rgba(0, 0, 0, 0.896);
  background: rgb(180, 180, 180);
  padding: 0.1em 0.1em;
  border-radius: 3px;
}

div.highlighter-rouge pre code {
  display: block;
  overflow-x: auto;
  white-space: pre; 
  padding: 1rem;
  color: #000000;
  background: #e2e2e2;
  font-size: 15px;
}


blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  color: rgb(0, 145, 255); /* 원하는 색깔로 변경 */
  text-decoration: none; /* 밑줄 제거 (원하는 경우) */
}

a:hover {
  color: darkblue; /* 호버 시 색깔 변경 */
  text-decoration: underline; /* 호버 시 밑줄 추가 (원하는 경우) */
}
